$primary-lime-green: hsl(163, 72%, 41%);
$primary-bright-red: hsl(356, 69%, 56%);
$primary-facebook: hsl(208, 92%, 53%);
$primary-twitter: hsl(203, 89%, 53%);
$primary-instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$primary-youtube: hsl(348, 97%, 39%);
$light-theme-toggle: hsl(230, 22%, 74%);
$dark-theme-toggle: linear-gradient(45deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
