.isLight {
  background: $light-theme-1;

  .main-header {
    .main-header__content {
      .main-header__title {
        color: $light-theme-5;
      }
      .main-header__followers {
        color: $light-theme-5;
      }
    }

    .themeSwitch__wrapper {
      & em {
        color: $light-theme-5;
      }
    }
  }
  .social-media__card {
    background: $light-theme-2;
    
  
    &:hover {
      background-color: $light-theme-3;
      transition: background-color 0.2s ease-in;
    }
  
   
    .social-media__username {
      & h3 {
        color: $light-theme-4;
      }
    }
  
    .social-media__followers {
      .social-media__followers--copy {
        color: lighten($light-theme-4, 20);
      }
    }
   
  }
  .main-content__overview {

    .overview__header {
      color: $light-theme-4;
    }
  
  
    .overview__card {
      background: $light-theme-2;
     
      
      &:hover {
        background-color: $light-theme-3;
        transition: background-color 0.2s ease-in;
      }
    
    
      
      .overview__title {
        & p {
          color: $light-theme-4;
        }
      }
    
      .overview__number {
        color: $light-theme-5
      }
    }
  }

}

.isDark {
  background: $dark-theme-1;
  .main-header {
   
  
    .main-header__title {
      color: $dark-theme-5;
    }
  
    .main-header__followers {
      color: $dark-theme-5;
    }
  
    .themeSwitch__wrapper {
      color: $dark-theme-5;
    }
  }
  .social-media__card {
    background: lighten($dark-theme-3, 5);
    
  
    &:hover {
      background-color: darken($dark-theme-4, 10);
      transition: background-color 0.2s ease-in;
    }
  
   
    .social-media__username {
      & h3 {
        color: $dark-theme-4;
      }
    }
  
    .social-media__followers {
      .social-media__followers--copy {
        color: $light-theme-toggle;
      }
    }
   .social-media__followers--number {
     color: $dark-theme-5;
   }
  }
  .main-content__overview {

    .overview__header {
      color: $dark-theme-5;
    }
  
  
    .overview__card {
      background: lighten($dark-theme-3, 5);
     
      
      &:hover {
        background-color: darken($dark-theme-4, 10);
        transition: background-color 0.2s ease-in;
      }
    
    
      
      .overview__title {
        & p {
          color: $dark-theme-4;
        }
      }
    
      .overview__number {
       color: $dark-theme-5;
      }
    }
  }
}