.overview__card {
  padding: 1.5rem;

  .overview__header {
    grid-column: 1 / -1;
  }
  
  .overview__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .overview__number {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}