.social-media__card {
  padding: 3rem;
  text-align: center;
  border-radius: 5px;

  

  &.facebook {
    border-top: 5px solid $primary-facebook;
  }

  &.twitter {
    border-top: 5px solid $primary-twitter;
  }

  &.instagram {
    border-top: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: $primary-instagram;
  }

  &.youtube {
    border-top: 5px solid $primary-youtube;
  }

  .social-media__username {
    display: flex;
    align-items: center;
    justify-content: center;
 
    & span {
      margin-right: 0.5rem;
    }
  }

  .social-media__followers {
    .social-media__followers--number {
      font-size: 4rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  
    .social-media__followers--copy {
      margin: 0;
      letter-spacing: .2rem;
      text-transform: uppercase;
    }
  
    .social-media__followers--new {
      font-size: 1.2rem;
    }
    & .up {
      color: $primary-lime-green;
    }
    & .down {
      color: $primary-bright-red;
    }
  }
 
}