.themeSwitch__wrapper {
  display: flex;
  align-items: center;

  .themeSwitch__label {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .themeSwitch__label input {
    display: none;
  }

  .themeSwitch__slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right:0;
    top: 0;
    transition: 0.4s;
  }

  .themeSwitch__slider:before {
    background-color: #FFF;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }

  em {
    margin-right: 0.5rem;
  }
 
  input:checked + .themeSwitch__slider {
    background-color: #000;
  }

  input:checked + .themeSwitch__slider:before {
    transform: translateX(26px);
  }

  .themeSwitch__slider.themeSwitch__round {
    border-radius: 34px;
  }

  .themeSwitch__slider.themeSwitch__round:before {
    border-radius: 50%;
  }
}