@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap");
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  font-family: "Inter", sans-serif;
}

main {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2.25rem 1.5rem;
}

.isLight {
  background: white;
}
.isLight .main-header .main-header__content .main-header__title {
  color: #1e202a;
}
.isLight .main-header .main-header__content .main-header__followers {
  color: #1e202a;
}
.isLight .main-header .themeSwitch__wrapper em {
  color: #1e202a;
}
.isLight .social-media__card {
  background: #f5f7ff;
}
.isLight .social-media__card:hover {
  background-color: #f0f2fa;
  transition: background-color 0.2s ease-in;
}
.isLight .social-media__card .social-media__username h3 {
  color: #63687e;
}
.isLight .social-media__card .social-media__followers .social-media__followers--copy {
  color: #989dae;
}
.isLight .main-content__overview .overview__header {
  color: #63687e;
}
.isLight .main-content__overview .overview__card {
  background: #f5f7ff;
}
.isLight .main-content__overview .overview__card:hover {
  background-color: #f0f2fa;
  transition: background-color 0.2s ease-in;
}
.isLight .main-content__overview .overview__card .overview__title p {
  color: #63687e;
}
.isLight .main-content__overview .overview__card .overview__number {
  color: #1e202a;
}

.isDark {
  background: #1e202a;
}
.isDark .main-header .main-header__title {
  color: white;
}
.isDark .main-header .main-header__followers {
  color: white;
}
.isDark .main-header .themeSwitch__wrapper {
  color: white;
}
.isDark .social-media__card {
  background: #2e3552;
}
.isDark .social-media__card:hover {
  background-color: #6978b5;
  transition: background-color 0.2s ease-in;
}
.isDark .social-media__card .social-media__username h3 {
  color: #8b97c6;
}
.isDark .social-media__card .social-media__followers .social-media__followers--copy {
  color: #aeb3cb;
}
.isDark .social-media__card .social-media__followers--number {
  color: white;
}
.isDark .main-content__overview .overview__header {
  color: white;
}
.isDark .main-content__overview .overview__card {
  background: #2e3552;
}
.isDark .main-content__overview .overview__card:hover {
  background-color: #6978b5;
  transition: background-color 0.2s ease-in;
}
.isDark .main-content__overview .overview__card .overview__title p {
  color: #8b97c6;
}
.isDark .main-content__overview .overview__card .overview__number {
  color: white;
}

.main-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin: 3rem 0;
}
.main-header .main-header__title {
  margin: 0;
}
.main-header .main-header__followers {
  margin: 0;
}
.main-header .themeSwitch__wrapper {
  display: flex;
}

.main-content__cardlayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

.main-content__overview {
  display: flex;
  flex-direction: column;
}
.main-content__overview .overview__card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem 1rem;
}

.themeSwitch__wrapper {
  display: flex;
  align-items: center;
}
.themeSwitch__wrapper .themeSwitch__label {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}
.themeSwitch__wrapper .themeSwitch__label input {
  display: none;
}
.themeSwitch__wrapper .themeSwitch__slider {
  background: linear-gradient(45deg, #378fe6, #3eda82);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}
.themeSwitch__wrapper .themeSwitch__slider:before {
  background: #000;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}
.themeSwitch__wrapper em {
  margin-right: 0.5rem;
}
.themeSwitch__wrapper input:checked + .themeSwitch__slider {
  background: #aeb3cb;
}
.themeSwitch__wrapper input:checked + .themeSwitch__slider:before {
  transform: translateX(26px);
}
.themeSwitch__wrapper .themeSwitch__slider.themeSwitch__round {
  border-radius: 34px;
}
.themeSwitch__wrapper .themeSwitch__slider.themeSwitch__round:before {
  border-radius: 50%;
}

.social-media__card {
  padding: 3rem;
  text-align: center;
  border-radius: 5px;
}
.social-media__card.facebook {
  border-top: 5px solid #198ff5;
}
.social-media__card.twitter {
  border-top: 5px solid #1ca0f2;
}
.social-media__card.instagram {
  border-top: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(45deg, #fdc468, #df4996);
}
.social-media__card.youtube {
  border-top: 5px solid #c4032a;
}
.social-media__card .social-media__username {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media__card .social-media__username span {
  margin-right: 0.5rem;
}
.social-media__card .social-media__followers .social-media__followers--number {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.social-media__card .social-media__followers .social-media__followers--copy {
  margin: 0;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.social-media__card .social-media__followers .social-media__followers--new {
  font-size: 1.2rem;
}
.social-media__card .social-media__followers .up {
  color: #1db489;
}
.social-media__card .social-media__followers .down {
  color: #dc414c;
}

.main-content__overview .overview__card {
  padding: 0 2rem 0 2rem;
  border-radius: 5px;
}
.main-content__overview .overview__card .overview__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 1rem 0;
}
.main-content__overview .overview__card .overview__title p {
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem;
  font-weight: 500;
}
.main-content__overview .overview__card .overview__number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 600;
}
.main-content__overview .overview__card .overview__number p {
  margin: 0;
  padding: 1rem;
}
.main-content__overview .overview__card .overview__number .overview__percent {
  font-size: 1rem;
}
.main-content__overview .overview__card .overview__number .up {
  color: #1db489;
}
.main-content__overview .overview__card .overview__number .down {
  color: #dc414c;
}

/*# sourceMappingURL=main.css.map */
