.main-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin: 3rem 0;

  .main-header__title {
    margin: 0;
  }

  .main-header__followers {
    margin: 0;
  }

  .themeSwitch__wrapper {
    display: flex;
  }
}